button{
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 20px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    
    color: pink;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
}
button:hover{

    filter: brightness(120%);
}
.icon{
    background-color: transparent;
    padding: 5px;
}